/* 
colors: {
    'text': #03010e,
    'background': #ebe3da,
    'primary': #98ca91,
    'secondary': #6fa465,
    'accent': #937c62,
   }, */
   

body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    background-color: #ebe3da;
  }
  
  header {
    flex: 0 80px;
    background-color: #9aca91;

  }
  
  .title {
    color: #ffffff;
  }

  main {
    flex: 1 calc(100vh - 170px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #ebe3da;
  }

  section {
    background: #937c62;
    padding: 0.25em;
    margin-bottom: 0.5em;
  }
  
  .my-btn {
    --bs-btn-padding-x: 0.75rem;
    --bs-btn-padding-y: 0.375rem;
    --bs-btn-font-family: ;
    --bs-btn-font-size: 1rem;
    --bs-btn-font-weight: 400;
    --bs-btn-line-height: 1.5;
    --bs-btn-color: #ffffff;
    --bs-btn-border-width: 1px;
    --bs-btn-border-radius: 0.375rem;
    --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15),0 1px 1px rgba(0, 0, 0, 0.075);
    --bs-btn-disabled-opacity: 0.65;
    --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
    display: inline-block;
    padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
    font-family: var(--bs-btn-font-family);
    font-size: var(--bs-btn-font-size);
    font-weight: var(--bs-btn-font-weight);
    line-height: var(--bs-btn-line-height);
    color: var(--bs-btn-color);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
    border-radius: var(--bs-btn-border-radius);
    background-color: var(--bs-btn-bg);
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

  .my-btn-primary {
    --bs-btn-color: #fff;
    --bs-btn-bg: #9aca91;
    --bs-btn-border-color: #9aca91;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #6fa465;
    --bs-btn-hover-border-color: #6fa465;
}

  footer {
    flex: 0 30px;
    background-color: #937c62;
    color: white;
  }
  



  menu {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    list-style: none;
  }

  .navbar-brand {
    padding-left: 0.3em;
  }
  
  menu .nav-item {
    padding: 0 1em;
  }

  menu .current-page {
    color: #ffffff;
    text-decoration: none;
  }
  
  .timer {
    padding: 1em;
    color: white;
  }

